body {
    background: linear-gradient(to bottom, #141414 40%, #0a0d22 100%);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

header {
    position: fixed;
    background-color: #141414;
    padding: 20px;
    width: 100%;
    font-size: large;
}

.menu {
    display: flex;
    width: 98%;
    margin: 0 auto;
}

.logoG {
    width: 190px;
}

ul {
    list-style: none;
    display: flex;
}

.bMenu {
    color: white;
    text-decoration: none;
    background-color: #141414;
    margin-right: 40px;
}

main {
    padding-top: 90px;
    display: flex;
    justify-content: center;
    min-height: 80vh;
}

.intro {
    text-align: center;
}

.texto {
    text-align: left;
}

.texto p {
    margin-bottom: 16px;
}

.sobre {
    background-color: rgba(255, 255, 255, 0.08);
    padding: 25px;
    border-radius: 12px;
    max-width: 600px;
    text-align: left;
    margin: 20px;
}

.eu {
    width: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
}

h1 {
    font-size: 26px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: white;
}

.straw {
    color: #DF001D;
    text-decoration: none;
    font-weight: bold;
}

.straw:visited {
    color: #DF001D;
    text-decoration: none;
    font-weight: bold;
}

#outro-sobre {
    display: flex;
    justify-content: center;
    text-decoration: none;
}
#sobre-botao {
    text-align: center;
    background-color: blue;
    width: 70px;
    padding: 5px;
    border-radius: 3px;
    border-style: dashed;
}

footer {
    color: rgb(118, 118, 118);
    background-color: #141414;
    text-align: center;
    padding: 30px;
}

.socials {
    text-align: center;
    background-color: #141414;
    padding: 10px;
}

.sIcon {
    width: 30px;
    border-radius: 3px;
}