body {
    background: linear-gradient(to bottom, #141414 10%, #0a0d22 100%);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

header {
    position: fixed;
    background-color: #141414;
    padding: 20px;
    width: 100%;
}

main {
    padding-top: 90px;
}

ul{
    list-style: none;
}

.menu{
    display: flex;
}

.margem {
    width: 60%;
    margin: 0 auto;
}

.logoG {
    width: 170px;
    height: 40px;
}

.imgFilme {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.imgFilme1 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #141414 100%), url("../Assets/Filmes/filme1/img17.jpg");
}

.imgFilme2 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #141414 100%), url("../Assets/Filmes/filme6/img22.jpg");
}

h1 {
    font-size: xx-large;
    color: rgb(82, 91, 159);
}

h2 {
    font-size: x-large;
    color: rgb(60, 68, 122);
}

h3 {
    color: #7885b1;
    font-size: large;
}

h4 {
    font-size: larger;
    color: rgb(50, 68, 228);
}

.bMenu {
    color: white;
    text-decoration: none;
}

.creditos{
    color: rgb(28, 96, 255);
    text-decoration: none;
}

.resenha {
    background-color: rgb(36, 36, 36);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px;
}

footer {
    color: rgb(118, 118, 118);
    background-color: #141414;
    text-align: center;
    padding: 40px;
}